{% extends 'base/base_pecuaria.html' %}

{% load animal_data %}

{% block title %}Animais{% endblock title %}

{% block content %}
<!-- Tabela de animais -->
<div class="card p-3">
    <div class="table-responsive pb-3">
        <table id="table-pecuaria" class="table table-striped table-bordered nowrap align-middle text-center mb-0">
            <caption>Lista de animais</caption>
            <thead>
                <tr>
                    {% for coluna in colunas %}
                        <th>{{ coluna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for animal in animais %}
                    <tr>
                        {% for coluna in colunas %}
                            <td>{{ animal|get_field_value:coluna }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}