{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard Veterinária</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style_predio.css' %}">
    <script src="{% static 'js/script_predio.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    



    <script>
            
                // Certifique-se de que os dados estão sendo capturados corretamente
                console.log("Data: " + $(this).data('data'));
                console.log("Entrada: " + $(this).data('entrada'));
                console.log("Saida: " + $(this).data('saida'));

                // Obtém os dados do botão que acionou o modal
                var data = $(this).data('data');
                var entrada = $(this).data('entrada');
                var saida = $(this).data('saida');

                // Preenche os campos hidden do formulário no modal correspondente
                var modal = $($(this).data('bs-target')); // Encontra o modal correto
                modal.find('.data-input').val(data);
                modal.find('.entrada-input').val(entrada);
                modal.find('.saida-input').val(saida);
            });

      

        function openFormModal(salaId, data, entrada, saida) {
            const url = `/amem/?salaId=${salaId}&data=${data}&entrada=${entrada}&saida=${saida}`;
            const formWindow = window.open(url, "Formulário", "width=500,height=600");

            formWindow.onunload = function () {
                location.reload(); // Recarrega a página quando a janela pop-out é fechada
            };
        }

        // Adicione esta função em vez da duplicada
        function openFormInModal(salaId, data, entrada, saida) {
            // Use o ID do modal para abrir
            var modal = document.getElementById(`modal${salaId}Formulario`);

            // Modifica os campos no formulário dentro do modal
            modal.querySelector('.data-input').value = data;
            modal.querySelector('.entrada-input').value = entrada;
            modal.querySelector('.saida-input').value = saida;

            // Abre o modal
            var modalInstance = new bootstrap.Modal(modal);
            modalInstance.show();
        };
        $(document).ready(function () {
            $('.allocated-btn').click(function () {
                $(this).addClass('btn-danger'); // Adiciona a classe 'btn-danger' ao botão clicado
                // Restante do seu código...
            });
            
            // Restante do seu código...
        });
    
    </script>
</head>
<style>
   
    .modal-custom-width {
        max-width: 20%; /* Defina a largura desejada aqui */
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    .custom-modal {
        width: 50%; /* Defina a largura desejada, pode ser em pixels ou porcentagem */
        max-width: 500px; /* Define um valor máximo para a largura */
        position: fixed; /* Usa uma posição fixa para centralizar corretamente */
        top: 50%; /* Posiciona o modal verticalmente no meio da tela */
        left: 50%; /* Posiciona o modal horizontalmente no meio da tela */
        transform: translate(-50%, -50%); /* Ajusta o posicionamento vertical e horizontal */
    }
    
  
    /* Estilo para o conteúdo do modal (opcional) */
    .custom-modal .modal-content {
        padding: 15px;
    }
    
    /* Estilo para o botão Fechar (opcional) */
    .custom-modal .modal-header .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    /* Estilo para o corpo do modal (opcional) */
    .custom-modal .modal-body {
        padding: 15px;
    }
    .custom-modal .modal-header .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        margin-right: 10px; /* Adiciona margem direita ao botão */
    }
  /* Estilo para centralizar o formulário no meio da tela */
.dropdown-menu .form-container {

margin: auto;
margin-top: 20px;
}

/* Estilo para aumentar a altura do formulário */
.dropdown-menu .form-container form {
width: 500px;
height: 500px;
padding: 20px; /* Adiciona um preenchimento interno ao formulário */
}

/* Estilo para o botão de voltar */
.dropdown-menu .form-container .btn-voltar {
margin-top: 10px;
}

/* Opcional: Estilo para centralizar o botão de enviar */
.dropdown-menu .form-container form .btn-success {
margin: auto;
display: block;
}

    
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-0 me-md-auto fw-bold" href="#">
            Edifícios 4.0
            <img src="{% static 'images/creche.svg' %}" alt="Ícone" class="icone-svg" style="width: 35px">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/dashboard_info/' %}active{% endif %}"
                        href="{% url 'dashboard_info' %}">Tecnologia da Informação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/dashboard_predioh/' %}active{% endif %}"
                        href="{% url 'dashboard_predioh' %}">Prédio H</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/dashboard_veterinaria/' %}active{% endif %}"
                        href="{% url 'dashboard_veterinaria' %}">Medicina Veterinária</a>
                </li>
                
            </ul>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light w-100">Logout</button>
            </div>
        </div>
    </div>
</nav>
</header>
<main class="container mt-3">
{% block content %}

{% endblock %}
</main>
<br>
    <div class="container p-5 d-flex flex-column" style="margin-bottom: 0;">
        <h1>{{ nome_predio }}</h1>
        <div class="legend-container">
           
            <div>
                <img src="{% static 'images/bola_verde.png' %}" alt="Green Image"><span>Livre</span>
            </div>
            <div>
                <img src="{% static 'images/bola_amarela.png' %}" alt="Green Image"><span>Parcial Ocupada</span>
            </div>
            <div>
                <img src="{% static 'images/bola_vermelha.png' %}" alt="Red Image"><span>Ocupada</span>
            </div>
        </div>
    </div>
    <div class="card-container d-flex flex-wrap">
        {% for sala in salas_veterinaria_reservaveis %}
            <div class="card-item col-md-4 mb-3" style="flex: 0 0 30%;">
                <div class="card clickable-card" data-bs-toggle="modal" data-bs-target="#modal{{ sala.id }}">
                    <div class="card-body" style="width:100%;">
                        <h5 class="card-title">Sala {{ sala.number }}</h5>
                    </div>
                </div>
                
            </div>

    
    
    



<div class="modal fade" id="modal{{ sala.id }}" tabindex="-1" aria-labelledby="modal{{ sala.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal{{ sala.id }}Label">Sala {{ sala.number }} - {{ sala.type }}</h5>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Fechar</button>
            </div>
            <div class="modal-body">
                <!-- Tabela específica da sala -->
                <div class="row">
                    <div class="card mb-3">
                        <h2 class="text-center">Sala {{ sala.number }}</h2>
                        <div class="table-responsive" style="height: 100vh;">
                            <table class="table borderless">
                                <thead>
                                    <tr>
                                        <th>Horários</th>
                                        {% for date in date_range %}
                                        <th>
                                            Dia {{ date|date:"d" }}
                                            <br>
                                            {{ date|date:"D" }}
                                        </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in horasM %}
                                    <tr>
                                        <td>
                                            {% if a.shift.shift == 'Matutino' %}
                                                {{a.start_time}} até {{a.end_time}}
                                            {% endif %}
                                        </td>
                                        {% for date in date_range %}
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success sala-btn allocated-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  
                                                </button>
                                                
                                                <div class="dropdown-menu">
                                                    <!-- Adicione o conteúdo do formulário aqui -->
                                                    <div class="form-container">
                                                        <form id="formularioAlocacao{{ sala.id }}" method="POST" action="{% url 'Allocation_Info' %}">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <h5 class="modal-title" id="modal{{ sala.id }}Label">Sala {{ sala.number }} - {{ sala.type }}</h5>
                                                                <input type="hidden" id="predio{{ sala.id }}" name="predio" class="predio-input" value="{{ sala.building }}" >
                                                                <input type="hidden" id="numero{{ sala.id }}" name="numero" class="numero-input" value="{{ sala.number }}">
                                                                <input type="hidden" id="salaId" name="salaId" value="{{ sala.id }}">
                                                                <input type="hidden" id="data" name="data" value="{{ date|date:"Y-m-d" }}" readonly>
                                                                <input type="hidden" id="entrada" name="entrada" value="{{ a.start_time }}">
                                                                <input type="hidden" id="saida" name="saida" value="{{ a.end_time }}">
                                                            </div>
                                                            <div class="row">
                                                                <div class="mb-3">
                                                                    <label for="nomeAlocacao" class="form-label">Nome de quem irá alocar</label>
                                                                    <input type="text" class="form-control" id="nomeAlocacao" name="nomeAlocacao" required>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="mb-3">
                                                                    <label for="nomeTurma" class="form-label">Turma</label>
                                                                    <input type="text" class="form-control" id="nomeTurma" name="nomeTurma" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="nomeDisciplina" class="form-label">Disciplina</label>
                                                                    <input type="text" class="form-control" id="nomeDisciplina" name="nomeDisciplina" required>
                                                                </div>
                                                                <div class="mb-3" style="width: 30%;">
                                                                    <label for="quantidadeHorarios" class="form-label">Quantidade de Horários</label>
                                                                    <input type="number" class="form-control" id="quantidadeHorarios" name="quantidadeHorarios">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <button type="submit" class="btn btn-success">Salvar</button>
                                                                <button type="button" class="btn btn-danger btn-voltar">Fechar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    {% for a in horasV %}
                                    <tr>
                                        <td>
                                            {% if a.shift.shift == 'Vespertino' %}
                                                {{a.start_time}} até {{a.end_time}}
                                            {% endif %}
                                        </td>
                                        {% for date in date_range %}
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <!-- Adicione o conteúdo do formulário aqui -->
                                                    <div class="form-container">
                                                        <form id="formularioAlocacao{{ sala.id }}" method="POST" action="{% url 'Allocation_Info' %}">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <h5 class="modal-title" id="modal{{ sala.id }}Label">Sala {{ sala.number }} - {{ sala.type }}</h5>
                                                                <input type="hidden" id="predio{{ sala.id }}" name="predio" class="predio-input" value="{{ sala.building }}" >
                                                                <input type="hidden" id="numero{{ sala.id }}" name="numero" class="numero-input" value="{{ sala.number }}">
                                                                <input type="hidden" id="salaId" name="salaId" value="{{ sala.id }}">
                                                                <input type="hidden" id="data" name="data" value="{{ date|date:"Y-m-d" }}" readonly>
                                                                <input type="hidden" id="entrada" name="entrada" value="{{ a.start_time }}">
                                                                <input type="hidden" id="saida" name="saida" value="{{ a.end_time }}">
                                                            </div>
                                                            <div class="row">
                                                                <div class="mb-3">
                                                                    <label for="nomeAlocacao" class="form-label">Nome de quem irá alocar</label>
                                                                    <input type="text" class="form-control" id="nomeAlocacao" name="nomeAlocacao" required>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="mb-3">
                                                                    <label for="nomeTurma" class="form-label">Turma</label>
                                                                    <input type="text" class="form-control" id="nomeTurma" name="nomeTurma" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="nomeDisciplina" class="form-label">Disciplina</label>
                                                                    <input type="text" class="form-control" id="nomeDisciplina" name="nomeDisciplina" required>
                                                                </div>
                                                                <div class="mb-3" style="width: 30%;">
                                                                    <label for="quantidadeHorarios" class="form-label">Quantidade de Horários</label>
                                                                    <input type="number" class="form-control" id="quantidadeHorarios" name="quantidadeHorarios">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <button type="submit" class="btn btn-success">Salvar</button>
                                                                <button type="button" class="btn btn-danger btn-voltar">Fechar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    {% for a in horasN %}
                                    <tr>
                                        <td>
                                            {% if a.shift.shift == 'Noturno' %}
                                                {{a.start_time}} até {{a.end_time}}
                                            {% endif %}
                                        </td>
                                        {% for date in date_range %}
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <!-- Adicione o conteúdo do formulário aqui -->
                                                    <div class="form-container">
                                                        <form id="formularioAlocacao{{ sala.id }}" method="POST" action="{% url 'Allocation_H' %}">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <h5 class="modal-title" id="modal{{ sala.id }}Label">Sala {{ sala.number }} - {{ sala.type }}</h5>
                                                                <input type="hidden" id="predio{{ sala.id }}" name="predio" class="predio-input" value="{{ sala.building }}" >
                                                                <input type="hidden" id="numero{{ sala.id }}" name="numero" class="numero-input" value="{{ sala.number }}">
                                                                <input type="hidden" id="salaId" name="salaId" value="{{ sala.id }}">
                                                                <input type="hidden" id="data" name="data" value="{{ date|date:"Y-m-d" }}" readonly>
                                                                <input type="hidden" id="entrada" name="entrada" value="{{ a.start_time }}">
                                                                <input type="hidden" id="saida" name="saida" value="{{ a.end_time }}">
                                                            </div>
                                                            <div class="row">
                                                                <div class="mb-3">
                                                                    <label for="nomeAlocacao" class="form-label">Nome de quem irá alocar</label>
                                                                    <input type="text" class="form-control" id="nomeAlocacao" name="nomeAlocacao" required>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="mb-3">
                                                                    <label for="nomeTurma" class="form-label">Turma</label>
                                                                    <input type="text" class="form-control" id="nomeTurma" name="nomeTurma" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="nomeDisciplina" class="form-label">Disciplina</label>
                                                                    <input type="text" class="form-control" id="nomeDisciplina" name="nomeDisciplina" required>
                                                                </div>
                                                                <div class="mb-3" style="width: 30%;">
                                                                    <label for="quantidadeHorarios" class="form-label">Quantidade de Horários</label>
                                                                    <input type="number" class="form-control" id="quantidadeHorarios" name="quantidadeHorarios">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <button type="submit" class="btn btn-success">Salvar</button>
                                                                <button type="button" class="btn btn-danger btn-voltar">Fechar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                    {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 
    {% endfor %}
</div>
        </div>
    </div>

    </div>
    <div class="bg-light mt-3">
        <footer class="container px-5 border-top">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my-2">
                <div class="col mb-3 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/if.png' %}" style="width: 40%; height: 80%;" alt="Image 1">
                </div>
                <div class="col mb-3"></div>
                <em class="text-center d-block py-4 border-top">&copy;Programa Campus Inteligente - Todos os
                    direitos
                    reservados</em>
        </footer>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>
</html>