<!-- Template: pages/batches.html -->

<!-- Extends Base Template -->
{% extends 'base/base.html' %}

<!-- Tab Title -->
{% block title %}Lotes{% endblock title %}

<!-- Content -->
{% block content %}
<!-- Botão para cadastrar lote -->
<a class="btn btn-primary mb-3" href="{% url 'pecuaria:cadastrar_lote' %}" role="button">
    <i class="fas fa-plus me-1"></i>
    Cadastrar Lote
</a>

<!-- Tabela de lotes -->
<div class="card p-3">
    <div class="table-responsive pb-3">
        <table id="table-pecuaria" class="table table-striped table-bordered nowrap align-middle text-center mb-0">
            <caption>Lista de lotes</caption>
            <thead>
                <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">Número do lote</th>
                    <th scope="col">Baia</th>
                    <th scope="col">Animais</th>
                    <th scope="col">Nº de animais</th>
                    <th scope="col">Observação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for lote in lotes %}
                <tr>
                    <!-- <td>{{ lote.id }}</td> -->
                    <td>{{ lote.numero }}</td>
                    <td>
                        {% if lote.baia %}
                        Baia {{ lote.baia.numero }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if lote.get_animais %}
                        {% for animal in lote.get_animais %}
                        <span>{{ animal }}</span><br>
                        {% endfor %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {{ lote.get_quantidade_animais }} 
                        {% if lote.get_quantidade_animais == 1 %}
                        animal
                        {% else %}
                        animais
                        {% endif %}
                    </td>
                    <td>
                        {% if lote.observacao %}
                        {{ lote.observacao }}
                        {% else %}
                        -
                        {% endif %}
                    <td>
                        <a class="text-decoration-none me-1" href="{% url 'pecuaria:atualizar_lote' lote.id %}" role="button">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="text-decoration-none btn-delete" href="{% url 'pecuaria:excluir_lote' lote.id %}" role="button">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}