<!-- Template: pages/home.html -->

<!-- Extends Base Template -->
{% extends 'base/base.html' %}

<!-- Tab Title -->
{% block title %}Página Inicial{% endblock title %}

<!-- Content -->
{% block content %}
<div class="bg-body-tertiary p-5 rounded">
    <h1 class="text-center">Olá, é bom te ver por aqui</h1>
    <p class="lead text-center">Esta é a página inicial do software Pecuária</p>
    <p class="lead text-center">Seja Bem vindo(a) <strong class="fw-bold">{{ user }}</strong></p>
</div>
{% endblock content %}